[submodule "wasm/third_party/pffft"]
	path = wasm/third_party/pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "wasm/third_party/libebur128"]
	path = wasm/third_party/libebur128
	url = https://github.com/jiixyj/libebur128.git
